*
{
    margin:0;
    padding: 0;
}
body {
  font-family: "Silkscreen", sans-serif;
  
  
  align-items: center;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    padding:10px;
    
box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.navbar-links
{
    display: flex;
    column-gap:20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-links :hover{
    text-decoration: underline;
}
.navbar-menu-toggle
{
display:none;
}

.side-navbar
{
    background-color: #1D232C;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:-60%;
    padding:20px;
    color: wheat;
    z-index: 3;
   
    transition: left 0.3s ease;
}
.side-navbar-link
{
    margin-bottom:30px;
}
.side-navbar-links  a
{
    text-decoration: none;
    color: white;
}


.header
{
    display:flex;
    text-align: center;
    justify-content: center;
    gap:50px;
    padding:50px;
}
.header-button
{
    padding-left:20px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    background-color:#1D232C;
    color:white;
    cursor:pointer;
    font-family: cursive;
}
/* media qury*/
/* and   space must*/
@media screen and (max-width:700px)
{
    .navbar-menu-toggle
    {
        display: block;
    }
    .navbar-links
    {
        display:none;
    }
}
.service
{
    padding: 20px;
    z-index: 1;
}
.service-container-1
{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.service-container-2
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2 div
{
    background-color: #f2f4f7;
}
.newarrival
{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.new-arrival-container
{
    position:relative;
    flex-basis: 20%;
}
.newarrival button{
    padding-left: 10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:10px;
    color:#1d232c;
    position:absolute;
  top:50%;
  left:20%;
  border-radius: 10px;
  border:none;

}
@media screen and (max-width:700px)
{
    .header-img
    {
        display: none;
    }
    .service-container-1
    {
        display:none;
    }
}
.news
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.news input{
    padding:11px;
    width:80vw;
    margin-bottom:10px;
    border:solid black 3px;
    margin-top:20px;

}
.news button{
    margin-top:10px;
    color:#f2f4f7;
    background-color:#1d232c;
    border-radius:10px;
    padding:10px;
}
.footer
{
    margin-top:20px;
    padding:40px;
    background-color: #1d232c;
    color: #f2f4f7;
}
.product-section
{
    margin-top:20px;
    z-index: 1;
}
.product-search
{
    border-radius:20px;
    border:solid black 2px;
    display:flex;
    justify-content:space-between;
    width: 80%;
    align-items:center;
    padding:10px;
    margin:auto;

}
.product-search input
{
    border:none;
    background-color: transparent;
    width:100%;
}
.product-search input:focus
{
    outline: none;
}
.products{
    padding:20px;
    display: flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content: space-around;

}
.products-box
{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius:10px;
}